In [1]:
import numpy as np
import pandas as pd

Basic Loop Syntax

In [2]:
for i in range(2, 6): #range(inclusive start, exclusive stop, stepsize)
  print(i)

2
3
4
5

What do you think this will print?

In [3]:
for i in range(1, 11, 2): #np.linspace alternative --> np.linspace(start, stop, num_steps)
  print(i)

1
3
5
7
9

In [4]:
z = ['a', 'b', 'c']
for i in z: #iterate thru vector
  print(i)

a
b
c

In [5]:
x = [2, 3, 4, 5, 6]
for i in range(len(x)): #only 1 input --> 0 = implied inclusive start point
  x[i] += 1
display(x)

[3, 4, 5, 6, 7]

In [6]:
x = ['dog', 'cat', 'moose', 'duck', 'owl']
y = []
for i in x:
  if len(i) == 3:
    y.append(i)

display(y)

['dog', 'cat', 'owl']

Functions Intro

Always need to remember to return something from the function, otherwise nothing will happen

https://geo-python.github.io/site/develop/notebooks/L4/functions.html

In [7]:
x = 3
x += 2
display(x)

5

What about for any x?

In [8]:
def add_two(x):
  return x+2

add_two(6)

8

What about for any value?
add and subtract?

In [9]:
def add_and_subtract_n(x, n):
  plus = x+n
  minus = x-n
  return plus, minus

In [10]:
plus, minus = add_and_subtract_n(5, 2)
display(plus)
display(minus)

7

3

How would we apply add_and_subtract_n with n = 2 to our vector x below?

In [11]:
x = [3, 4, 5, 6, 7, 8]
plusvec = []
minusvec = []

#live code the for loop
for i in x:
  plus, minus = add_and_subtract_n(i, 2)
  plusvec.append(plus)
  minusvec.append(minus)

display(plusvec)
display(minusvec)

[5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6]

Expand character example from before

In [12]:
def n_characters(x, n):
  y = []
  for i in x:
    if len(i) == n:
      y.append(i)
  return y

In [13]:
x = ['dog', 'cat', 'moose', 'duck', 'owl']
print(n_characters(x, 2))
print(n_characters(x, 3))
print(n_characters(x, 4))
print(n_characters(x, 5))
print(n_characters(x, 6))

[]
['dog', 'cat', 'owl']
['duck']
['moose']
[]

How can we make this better?

In [14]:
for i in range(2, 7): # easier! #livecode this
  print(n_characters(x, i))

[]
['dog', 'cat', 'owl']
['duck']
['moose']
[]

loop and function examples from csv file

In [15]:
passing_df = pd.read_csv("https://raw.githubusercontent.com/rielaben/MSAS_Modules_2021_2022/main/Week%202/nfl_passing_2020.csv")

In [16]:
passing_df

      Rk            Player   Tm  Age  Pos  ...   Y/C    Y/G   Rate   QBR  Sk
0      1   Deshaun Watson*  HOU   25   QB  ...  12.6  301.4  112.4  70.5  49
1      2  Patrick Mahomes*  KAN   25   QB  ...  12.2  316.0  108.2  82.9  22
2      3         Tom Brady  TAM   43   QB  ...  11.6  289.6  102.2  72.5  21
3      4         Matt Ryan  ATL   35   QB  ...  11.3  286.3   93.3  67.0  41
4      5       Josh Allen*  BUF   24   QB  ...  11.5  284.0  107.2  81.7  26
..   ...               ...  ...  ...  ...  ...   ...    ...    ...   ...  ..
107  108        Brett Kern  TEN   34  NaN  ...   NaN    0.0   39.6   0.0   0
108  109        D.J. Moore  CAR   23   WR  ...   NaN    0.0   39.6   NaN   0
109  110       Zach Pascal  IND   26   WR  ...   NaN    0.0   39.6   2.5   0
110  111     Sammy Watkins  KAN   27   WR  ...   NaN    0.0    0.0   0.0   0
111  112     Isaiah Wright  WAS   23   wr  ...   NaN    0.0   39.6   3.8   0

[112 rows x 20 columns]

Code from Module 3...

  df['Player'] = df['Player'].str.replace('*', '')

  df['Player'] = df['Player'].str.replace('+', '')
  
  df['Pos'] = df['Pos'].str.upper()

The following is better because it puts all of our cleaning steps in 1 function code area

In [17]:
def clean_data_rows(df):
  df['Player'] = df['Player'].str.replace('*', '')
  df['Player'] = df['Player'].str.replace('+', '')
  df['Pos'] = df['Pos'].str.upper()

  return df

passing_df_cleaned = clean_data_rows(passing_df)

In [18]:
passing_df_cleaned

      Rk           Player   Tm  Age  Pos   G  ...  Y/A   Y/C    Y/G   Rate   QBR  Sk
0      1   Deshaun Watson  HOU   25   QB  16  ...  8.9  12.6  301.4  112.4  70.5  49
1      2  Patrick Mahomes  KAN   25   QB  15  ...  8.1  12.2  316.0  108.2  82.9  22
2      3        Tom Brady  TAM   43   QB  16  ...  7.6  11.6  289.6  102.2  72.5  21
3      4        Matt Ryan  ATL   35   QB  16  ...  7.3  11.3  286.3   93.3  67.0  41
4      5       Josh Allen  BUF   24   QB  16  ...  7.9  11.5  284.0  107.2  81.7  26
..   ...              ...  ...  ...  ...  ..  ...  ...   ...    ...    ...   ...  ..
107  108       Brett Kern  TEN   34  NaN  13  ...  0.0   NaN    0.0   39.6   0.0   0
108  109       D.J. Moore  CAR   23   WR  15  ...  0.0   NaN    0.0   39.6   NaN   0
109  110      Zach Pascal  IND   26   WR  16  ...  0.0   NaN    0.0   39.6   2.5   0
110  111    Sammy Watkins  KAN   27   WR  10  ...  0.0   NaN    0.0    0.0   0.0   0
111  112    Isaiah Wright  WAS   23   WR  14  ...  0.0   NaN    0.0   39.6   3.8   0

[112 rows x 20 columns]

In [19]:
passing_df_cleaned.rename({'Tm' : 'Team',
                  'Pos': 'Position',
                  'G' : 'Games Played',
                  'Yds':'Yards',
                  'TD':'Touchdowns',
                  'Int':'Interceptions',
                  'Sk' :'Sacks'
},axis=1, inplace=True)

In the Module 3 notebook we have this code: 

simple_df['TD/INT'] = simple_df['Touchdowns']/simple_df['Interceptions']

We can create a function for this instead in case we want to try making columns of different types

In [20]:
def create_ratios_column(df, new_col_name, col1, col2):
  df[new_col_name] = df[col1]/df[col2]
  return df

passing_df_cleaned = create_ratios_column(passing_df_cleaned, 'TD/INT', 'Touchdowns', 'Interceptions')

In [21]:
passing_df_cleaned

      Rk           Player Team  Age  ...   Rate   QBR  Sacks    TD/INT
0      1   Deshaun Watson  HOU   25  ...  112.4  70.5     49  4.714286
1      2  Patrick Mahomes  KAN   25  ...  108.2  82.9     22  6.333333
2      3        Tom Brady  TAM   43  ...  102.2  72.5     21  3.333333
3      4        Matt Ryan  ATL   35  ...   93.3  67.0     41  2.363636
4      5       Josh Allen  BUF   24  ...  107.2  81.7     26  3.700000
..   ...              ...  ...  ...  ...    ...   ...    ...       ...
107  108       Brett Kern  TEN   34  ...   39.6   0.0      0       NaN
108  109       D.J. Moore  CAR   23  ...   39.6   NaN      0       NaN
109  110      Zach Pascal  IND   26  ...   39.6   2.5      0       NaN
110  111    Sammy Watkins  KAN   27  ...    0.0   0.0      0  0.000000
111  112    Isaiah Wright  WAS   23  ...   39.6   3.8      0       NaN

[112 rows x 21 columns]

Now we can add new columns very easily, as shown below:

In [22]:
passing_df_cleaned = create_ratios_column(passing_df_cleaned, 'INT/GS', 'Interceptions','GS')

In [23]:
passing_df_cleaned

      Rk           Player Team  Age  ...   QBR  Sacks    TD/INT    INT/GS
0      1   Deshaun Watson  HOU   25  ...  70.5     49  4.714286  0.437500
1      2  Patrick Mahomes  KAN   25  ...  82.9     22  6.333333  0.400000
2      3        Tom Brady  TAM   43  ...  72.5     21  3.333333  0.750000
3      4        Matt Ryan  ATL   35  ...  67.0     41  2.363636  0.687500
4      5       Josh Allen  BUF   24  ...  81.7     26  3.700000  0.625000
..   ...              ...  ...  ...  ...   ...    ...       ...       ...
107  108       Brett Kern  TEN   34  ...   0.0      0       NaN       NaN
108  109       D.J. Moore  CAR   23  ...   NaN      0       NaN  0.000000
109  110      Zach Pascal  IND   26  ...   2.5      0       NaN  0.000000
110  111    Sammy Watkins  KAN   27  ...   0.0      0  0.000000  0.111111
111  112    Isaiah Wright  WAS   23  ...   3.8      0       NaN  0.000000

[112 rows x 22 columns]

Challenge: Look back at the "nfc_east" variable from Module 3: Can you make this a function? If you can do this, make a function so you can easily retrieve any division in football you want.

In [24]:
# use this as help when finding team initials:

set(passing_df_cleaned['Team'])

{'ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GNB',
 'HOU',
 'IND',
 'JAX',
 'KAN',
 'LAC',
 'LAR',
 'LVR',
 'MIA',
 'MIN',
 'NOR',
 'NWE',
 'NYG',
 'NYJ',
 'PHI',
 'PIT',
 'SEA',
 'SFO',
 'TAM',
 'TEN',
 'WAS'}

Use the code so that you can isolate passing stats for AFC East wide receivers: